# Python For Loops
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ("apple", "banana", "cherry")
for x in fruits:
    print(x)

In [ ]:
#Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
    print(x)

In [ ]:
for x in range(0, 5):
    print("hello world", x)

In [3]:
# The break Statement

#With the break statement we can stop the loop before it has looped through all the items:

#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [2]:
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [6]:
#The continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next:

#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [7]:
#The range() Function
#To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

for x in range(6):
    print(x)

#Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [8]:
#It is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

#Using the start parameter:

for x in range(2, 6):
    print(x)

#The range() function defaults to increment the sequence by 1

2
3
4
5

In [9]:
#To specify the increment value by adding a third parameter: range(2, 30, 3):

#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [10]:
#Else in For Loop
#The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [11]:
for val in range(5):
    print(val)
else:
    print("The loop has completed execution")

0
1
2
3
4
The loop has completed execution

In [12]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [14]:
# program to display student's marks from record
student_name = 'Ria'

marks = {'James': 90, 'Ria': 55, 'Ankur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [16]:
#Nested Loops
#A nested loop is a loop inside a loop.

#The "inner loop" will be executed one time for each iteration of the "outer loop":

#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
for num1 in range(3):
    for num2 in range(10, 14):
        print(num1, ",", num2)

0 , 10
0 , 11
0 , 12
0 , 13
1 , 10
1 , 11
1 , 12
1 , 13
2 , 10
2 , 11
2 , 12
2 , 13

In [19]:
#The pass Statement
#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
    pass

In [21]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

    print("The sum is", sum)

The sum is 6
The sum is 11
The sum is 14
The sum is 22
The sum is 26
The sum is 28
The sum is 33
The sum is 37
The sum is 48

In [23]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [28]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

1
4
16
36
121
400

In [29]:
# Program to print the sum of first 5 natural numbers

# variable to store the sum
sum = 0

# iterating over natural numbers using range()
for val in range(1, 6):
    # calculating sum
    sum = sum + val

# displaying sum of first 5 natural numbers
print(sum)

15

In [10]:
#counts the number of even numbers from a series of numbers.
# list of numbers 
list1 = [10, 21, 4, 45, 66, 93, 1] 
  
even_count= 0
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 == 0: 
        even_count += 1
              
print("Even numbers in the list: ", even_count)

Even numbers in the list:  3

In [31]:
#Loop over Lists of lists

list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list in list_of_lists:
    for x in list:
        print(x)

1
2
3
4
5
6
7
8
9

In [35]:
print ("***Generates a list of 3 values starting from 0")
for i in range(3):
    print ("Welcome",i,"times.")

***Generates a list of 3 values starting from 0***
Welcome 0 times.
Welcome 1 times.
Welcome 2 times.
*** Generates a list of 3 values starting from 1 ***
Welcome 1 times.
Welcome 2 times.
Welcome 3 times.

%s and %d are used for string formatting where %s and %d holds place for a string and a number respectively, and their associated values are passed using a tuple with % operator.

In [2]:
name = 'Tiya'
age = 12
print ('%s %d' % (name, age))

Tiya 12

In [38]:
#The following example illustrates the combination of an else statement with a for statement that searches for prime numbers from 10 through 20.
for num in range(10,20):     #to iterate between 10 to 20
    for i in range(2,num):    #to iterate on the factors of the number
        if num%i == 0:         #to determine the first factor
            j=num/i             #to calculate the second factor
            print('%d equals %d * %d' % (num,i,j))
            break #to move to the next number, the #first FOR
    else:                  # else part of the loop
        print(num, 'is a prime number')

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [18]:
#Print the pattern
for x in range(1,6):
    for y in range(1, x + 1):
        print(y, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Lab Exercise

In [ ]:
#Write a python program with for loop to iterate over a list using range()

In [ ]:
#Write a Python Program to print Cubes of all numbers present in a list

In [ ]:
#Generates a list of 5 values starting from 1 ***")

In [ ]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
#Hint:Use continue

In [ ]:
 #Write a Python Program to print the Product of first 10 natural numbers

In [ ]:
#Write a Python program to display all the elements before number 71 in the list [11, 9, 77, 10, 90, 3, 19]
#Hint: break

In [ ]:
#Accept number from user and calculate the sum of all number between 1 and given number

In [ ]:
#Print multiplication table of given number(from user)

In [ ]:
# Given a list iterate it and display numbers which are divisible by 5

In [ ]:
#Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

#Print the following pattern using for loop

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [20]:
#Display -10 to -1 using for loop

In [ ]:
# Python Program to Calculate Sum of Even Numbers from 1 to N(from user)

In [ ]:
#Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’